body{
	padding-top:70px;
}
.input-group-filter .form-control{
	display:inline-block;
	float:left;
	width:auto;
	margin-right:10px;
}
.input-group-filter .input-group.date{
	float:left;
	margin-right:10px;
}
.input-group-filter .input-group.date .form-control{
	margin-right:0;
}
.fieldchart-holder-view{
	width:100%; 
	height:400px;
	margin-top:30px;
}